<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

  <button type="button" class="btn btn-outline-info">
  
   <% if session.fetch(:user_id)%>
   <a href="/user_sign_up">Return to Sign Up</a>
  <%else%>
   <a href="/user_sign_up">Sign Up</a>
  <%end%>
  
  </button>

  <button type="button" class="btn btn-outline-info">
  
  <% if session.fetch(:user_id)%>
  <a href="/user_sign_in">Return to Sign In</a>
  <%else%>
  <a href="/user_sign_in">Sign In</a>
  <%end%>
 
  </button>

  <button type="button" class="btn btn-outline-info">
  
  <a href="/user_sign_out">Sign Out</a>
  
  </button>

  <button type="button" class="btn btn-outline-info">
   
  <% if session.fetch(:user_id)%>
  <a href="/profile">Profile</a>
  <%else%>
  <%end%>
  
  </button>

  <button type="button" class="btn btn-outline-info">
  
  <% if session.fetch(:user_id)%>
  <a href="/sports">Connect with Others</a>
  <%else%>
  <%end%>
  
  </button>

  <button type="button" class="btn btn-outline-info">
  
  <% if session.fetch(:user_id)%>
  <a href="/users">Users</a>
  <%else%>
  <%end%>
  
  </button>

    <%= yield %>
  </body>
</html>
