<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

  <li>
   <% if session.fetch(:user_id)%>
   <a href="/user_sign_up">Return to Sign Up</a>
  <%else%>
   <a href="/user_sign_up">Sign Up</a>
  <%end%>
  </li>
  <li>
  <% if session.fetch(:user_id)%>
  <a href="/user_sign_in">Return to Sign In</a>
  <%else%>
  <a href="/user_sign_in">Sign In</a>
  <%end%>
  </li>
  <li>
  <a href="/user_sign_out">Sign Out</a>
  </li>
   <li>
  <% if session.fetch(:user_id)%>
  <a href="/profile">Profile</a></li>
  <%else%>
  <%end%>
  </li>
  <li>
  <% if session.fetch(:user_id)%>
  <a href="/user_sports">Connect with Others</a></li>
  <%else%>
  <%end%>
  </li>
  <li>
  <a href="/users">Users</a></li>
  <li>
  <a href="/photos">Photos</a></li>

    <%= yield %>
  </body>
</html>
